<footer>
    <div class="social-media-buttons">

        <a href="https://github.com" class="social-media-button facebook">
            <img ngSrc="../assets/github.png" priority width="25" height="25">
        </a>

        <a href="https://linkedin.com" class="social-media-button twitter">
            <img ngSrc="../assets/linkedin.png" priority width="25" height="25">
        </a>

        <a href="https://instagram.com" class="social-media-button instagram">
            <img ngSrc="../assets/instagram.png" priority width="25" height="25">
        </a>

        <a href="https://facebook.com" class="social-media-button linkedin">
            <img ngSrc="../assets/facebook.png" priority width="25" height="25">
        </a>

    </div>
</footer>