<header class="cabecalho">

  <div class="arte__logo">
    <img ngSrc="./assets/logonav.png" priority width="50" height="50">
    <h3>CONECT'ARTE</h3>
  </div>

  <nav class="cabecalho__menu">
    <a class="cabecalho__botao" href="">Inicio</a>
    <a class="cabecalho__botao" href="">Loja</a>
    <a class="cabecalho__botao" href="">Sobre</a>
  </nav>

  <div class="icons">
    <p><img ngSrc="./assets/lupa.png" width="25" height="25"></p>
    <p><img ngSrc="./assets/usuario.png" width="25" height="25"></p>
    <p><img ngSrc="./assets/coracao.png" width="25" height="25"></p>
    <p><img ngSrc="./assets/carrinho.png" width="25" height="25"></p>
  </div>

</header>
