<app-header></app-header>
<main>
  <section class="main-section">
    <div class="headline">
      <p class="text">Somos uma plataforma inovadora que conecta amantes de produtos artesanais a artesãos locais em
        suas
        comunidades. Nosso
        objetivo é promover a autenticidade dos produtos feitos à mão, enquanto apoiamos os talentos locais e
        estimulamos o
        comércio justo.</p>
      <div class="imagem">
        <img ngSrc="./assets/image2.png" priority width="380" height="360">
      </div>
    </div>
  </section>
</main>
