<app-header />

<section id="userInfo">

  <div class="info">
    <h3>Email:</h3>
    <p>usergmail.com</p>
    <h3>Telefone:</h3>
    <p>+55 47 99666-7774</p>
    <h3>Localização:</h3>
    <p>Bar do Nino, Penha</p>
  </div>

  <div id="userArea">
    <div id="user">
      <img src="./assets/logonav.png" priority width="250px" height="250px" />
      <h2>Sans Undertale aaaaaaaaa</h2>
    </div>
  </div>

  <div class="info">
    <h3>Conexões:</h3>
    <p></p>
    <p>Instagram</p>
    <p>Twitter</p>
    <p>LinkedIn</p>
  </div>

</section>

<section>

  <h3 id="title">Vitrine</h3>

  <div id="productList">

    <div class="product">
      <img Src="./assets/produto.png" width="400px" height="300px" />
      <h4>Produto1</h4>
      <p>Descrição menor</p>
    </div>
    <div class="product">
      <img Src="./assets/produto.png" width="400px" height="300px" />
      <h4>Produto1</h4>
      <p>Descrição menor</p>
    </div>
    <div class="product">
      <img Src="./assets/produto.png" width="400px" height="300px" />
      <h4>Produto1</h4>
      <p>Descrição menor</p>
    </div>

  </div>

</section>